.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
local.properties

### IntelliJ IDEA ###
.idea/*
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/gradle.xml
.idea/misc.xml
.idea/AndroidProjectSystem.xml
.idea/caches/
.idea/deviceManager.xml
.idea/migrations.xml
.idea/runConfigurations.xml
.idea/vcs.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store


# ===============================
# MOBILE AUTOMATION (APPIUM/ANDROID)
# ===============================

# Do not commit local Android SDK paths
local.properties

# Do not commit APK/IPA binaries (keeps repo lightweight)
app/*.apk
app/*.ipa

# Appium server logs
appium.log
*.trace

# Selenide reports, logs, screenshots
selenide-screenshots/
selenide-logs/
build/reports/tests/

# Temporary folders
tmp/
temp/

# If Node.js tools are used (Appium Doctor, UI tools, etc.)
node_modules/
